
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

#btn{
    background-color:rgb(81, 23, 47) ;
}

#booking{
    background-color: rgb(122, 98, 107);
}
.bg-custom {
    background-color: rgb(63, 11, 29);
}